.form-signin{
    max-width: 330px;
    padding: 1rem;
}
#mainSection {
    padding: 10px;
  }
  
#profileSection {
    width: 30%;
    float: left;
    background-color: white;
    padding: 20px;
  }
#groupSection {
    width: 60%;
    float: right;
    background-color: white;
    padding: 20px;
  }
  #back-button {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px;
    font-size: 15px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
  }